a>img{
	transform: scale(1);
	width: 330px;
}
.App{
    

}

.common-title{
    font-weight: 800;
}
.hover13:hover{
    cursor: pointer;
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

.btn-close{
	background-color: white;
}
.modeToggle{
	position: relative;
}

.film-list{
	padding-left: 70px;
}

iframe{
	width: 1120px;
	height: 630px;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@media only screen and (max-width: 600px) {

	a>img{
		width: 390px
	}
	
	.card{
		transform: scale(0.9)
	}

	.film-detail-image{
		transform: scale(0.8);
	}

	.film-list{
		padding-left: 70px;
	}
	
	.film-title{
		margin-right: 50px;

	}
	iframe{
		margin-left: 95px;
		width: 400px;
		height: 250px;
	}
	.card-dev{
		width: 200px;
		height: 200px;
	}
	.img-dev{
		height: 210px;
	}
}


  
  .fa-moon-o{
	color: yellow;
  }
